.external-header
	margin-top 2%

	.logo
		font-size 60px
		text-decoration none!important
		line-height 40px
		margin-bottom 25px

		a
			&:hover
				text-decoration none!important

		img
			width 200px
			display block
			margin 0 auto

.external-body
	margin 10px auto
	max-width 500px

	.form-group
		position relative

		.glyphicon
			position absolute
			top 26px
			left 15px
			color dark

	.form-horizontal
		.form-group
			margin-left 0
			margin-right 0
