.external-header
	margin-top 5%

	.logo
		font-size 40px
		a
			&:hover
				text-decoration none


.external-body
	margin 10px auto
	max-width 500px

	.form-group
		position relative

		.glyphicon
			position absolute
			top 26px
			left 15px
			color dark
