.app
	padding-top 60px
	background url(../img/pattern.png) repeat

.main-container
	background-color white
	border-left 1px solid lightBorder
	border-right 1px solid lightBorder
	padding-top 40px
	border-bottom 1px solid lightBorder
	min-height 400px

.profile-image
	margin -4px 5px

.no-margin-vertical
	margin-top 0
	margin-bottom 0

.well-add
	line-height 36px
	margin-right 10px

.filter-well
	margin-left 10px
	line-height 36px

.mb-15
	margin-bottom 15px

.alert-on
	position: absolute
	right 20px
	bottom 20px
	width 250px
	display none

.loader-wrapper
	text-align center
	height 175px

	img
		margin-top 50px

.widget-table
	display none

.glyphicon-upload, .glyphicon-download
	text-indent -9000px
	position relative

	&:before
		display block
		top 0
		left 0
		right 0
		bottom 0
		position absolute
		text-indent 0

.empty-line, .dataTables_empty
	padding 20px 8px !important
