body
	background url(../img/pattern.png) repeat

.app
	padding-top 60px

.main-container
	background-color white
	border-left 1px solid lightBorder
	border-right 1px solid lightBorder
	padding-top 40px