.app
	padding-top 60px
	background url(../img/pattern.png) repeat

.main-container
	background-color white
	border-left 1px solid lightBorder
	border-right 1px solid lightBorder
	padding-top 40px

.profile-image
	margin-right 5px
