.movements
	.panel
		display none

.table-movements
	thead
		tr th
			line-height 30px

	.glyphicon-stop
		margin-right 5px

	tbody
		td
			a
				color primary

				&:hover
					color secundary

.th-head-date
	width 150px

.th-head-type
	width 60px;

.th-head-actions
	width 50px

.th-head-paid
	width 40px

.td-type
	.glyphicon
		margin-left 10px

	.glyphicon-upload
		color income

	.glyphicon-download
		color outgoing

.glyphicon-info-sign
	font-size 16px

.repeat-select
	display none

.balance
	.wrapper-col
		float left
		display inline-block
		color #666
		margin-left 5px

		p
			margin-bottom 5px

	.labels
		color #666

	.total-incoming
		color green

	.total-expenses
		color red

	.total
		font-size 20px
		color red;

		&.positive
			color green

.total-balance
	font-size 30px
	color red
	&.positive
		color green
