.table-movements
	thead
		tr th
			line-height 30px

	.glyphicon-stop
		margin-right 5px

	tbody
		td
			a
				color primary

				&:hover
					color secundary

.th-head-date
	width 150px

.th-head-type
	width 60px;

.th-head-actions
	width 50px

.th-head-paid
	width 40px

.td-type
	.glyphicon
		margin-left 10px

	.glyphicon-upload
		color income

	.glyphicon-download
		color outgoing