.navbar-wrapper
	background-color light
	border-bottom 1px solid lightBorder

.navbar-app
	float none
	margin 0 auto
	display table!important
	table-layout fixed

	.navbar-nav
		a
			text-align center
			color dark
			font-size 13px

			&:hover
				color secundary


		.glyphicon
			display block
			font-size 23px
			margin-bottom 2px
			transition 1s

		li
			&.active
				background-color secundary

				a
					color light
					background-color secundary

.navbar-header
	.logo
		width 30px
